<div id="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-  toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Shop</a>
      </div>
  
      <div class="collapse navbar-collapse" id="bs-example-navbar-  collapse-1">
        <ul class="nav navbar-nav">
  
        </ul>
        <form class="navbar-form navbar-left" role="search">
  
        </form>
        <ul class="nav navbar-nav navbar-right">
  
        </ul>
      </div>
    </div>
  </nav>
</div>