<div id="sidebar">
  <ul>
  	<li class="category">Website</li>
    <li><%= link_to 'product', store_path %></li>
    <li><a href="http://www..../faq">Questions</a></li>
    <li><a href="http://www..../news">News</a></li>
    <li><a href="http://www..../contact">Contact</a></li>
  </ul>
</div>