<div id="page_wrapper">
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>Title:</strong>
    <%= @product.title %>
  </p>
  
  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>
  
  <p>
    <strong>Image url:</strong>
    <%= @product.image_url %>
  </p>
  
  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>
  
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
  
</div>