<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tag %>
</head>
<body class='<%= controller.controller_name %>'>

  <%= render 'shared/sidebar' %>
    <div id="main_content">
      <%= render 'shared/header' %>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div,msg, class: "alert") %>
      <% end %>
      
      <%= yield %>
    </div>

</body>
</html>
